.projectCard {
    --padding: 16px;
    --hue: calc(180deg + var(--percentage) * 160deg);

    display: flex;
    flex-direction: column;
    background: var(--c-background-secondary);
    box-shadow: 0 0 8px 0 var(--c-background-primary);
    font-weight: var(--font-sans-serif-weight-s);
    color: var(--c-light);
}

.title {
    display: flex;
    align-items: center;
    background: hsl(var(--hue), var(--c-dynamic));
    color: var(--c-light-pure);
    padding: 0 16px;
    height: 40px;

    > h1 {
        font-size: var(--font-size-s);
        font-weight: var(--font-sans-serif-weight-s);
        margin-right: auto;
    }

    .link > svg {
        width: 24px;
        height: 24px;
        fill: currentColor;
    }
}

.description {
    font-weight: var(--font-sans-serif-weight-s);
    font-size: var(--font-size-s);
    padding: var(--padding);
    line-height: var(--line-height-m);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    padding: 0 var(--padding) var(--padding);

    > span {
        background: hsl(var(--hue), var(--c-dynamic));
        color: hsl(var(--hue), var(--c-dynamic-text));
        font-family: var(--font-family-monospace);
        font-weight: var(--font-monospace-weight-m);
        font-size: var(--font-size-xxs);
        padding: 3px 6px;
    }
}

.actions {
    display: flex;
    gap: 10px;
    padding: var(--padding);
    margin-top: auto;

    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        color: hsl(var(--hue), var(--c-dynamic));
        font-size: var(--font-size-xs);
        font-weight: var(--font-sans-serif-weight-m);
        transition: all var(--transition-m);
        padding: 8px 0;

        &:hover {
            border-color: hsl(var(--hue), var(--c-dynamic-hover));
            background: hsl(var(--hue), var(--c-dynamic-hover));
            color: hsl(var(--hue), var(--c-dynamic-text-hover));
        }
    }
}
