@use 'src/styles/functions';

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out-shadow {
    to {
        transform: translateX(calc(var(--offset) * 100px - 10px)) translateY(-10px);
    }
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-monospace);
    color: var(--c-primary);
    padding-bottom: 100px;
    height: 100%;
    width: 100%;
    opacity: calc(1 - var(--offset));
    animation: fade-in var(--transition-m);
}

.header {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    line-height: 115px;
    width: 60%;
    color: var(--c-primary-text);
    transform: translateX(calc(var(--offset) * -50px));

    .title,
    .subTitle {
        font-weight: var(--font-monospace-weight-m);
    }

    .title {
        font-size: 140px;
        margin-left: -1ch;
    }

    .subTitle {
        white-space: nowrap;
        width: 100%;
    }

    .shadow {
        animation: fade-out-shadow var(--transition-m) forwards;
        color: var(--c-primary-accent);
    }
}

.nextButton {
    all: unset;
    cursor: pointer;
    padding: 6px 14px;
    background: var(--c-primary);
    color: var(--c-background-primary);
    margin-top: auto;
    margin-left: 20vw;
    z-index: 1;
    font-size: var(--font-size-m);
    font-weight: var(--font-monospace-weight-m);
    transform: translateX(calc(var(--offset) * 100px));
    transition: clip-path var(--transition-m);
    clip-path: functions.corner-polygon(bottom-right, s);

    &:hover {
        clip-path: functions.corner-polygon(bottom-right, m);
    }
}

@keyframes blink {
    0%, 50% {
        visibility: visible;
    }
    51%, 100% {
        visibility: hidden;
    }
}

.cursor {
    animation: blink 1.5s infinite;
}
