@use 'src/styles/functions';

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-display);
    color: var(--c-text);
    padding-bottom: 100px;
    height: 100vh;
    width: 100%;
    animation: fade-in var(--transition-m);
}

.header {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    line-height: 8vw;
    width: 60%;
    color: var(--c-text);

    .title,
    .subTitle {
        font-weight: var(--font-display-weight-m);
    }

    .title {
        font-size: var(--font-size-xxl);
        margin-left: -0.9em;
    }

    .subTitle {
        white-space: nowrap;
        width: 100%;
    }

    .shadow {
        transform: translate(-10px, -10px);
        color: var(--c-text-shadow);
    }
}

.nextButtonWrapper {
    margin-left: 20vw;
    margin-bottom: -60vh;
    filter: drop-shadow(0.5vw 0.5vw 0px var(--c-primary-shadow));

    &:hover {
        filter: drop-shadow(0.4vw 0.4vw 0px var(--c-text-shadow));
    }

    .nextButton {
        all: unset;
        padding: var(--space-s) var(--space-m);
        background: var(--c-primary-text);
        color: var(--c-background-primary);
        font-size: var(--font-size-xs);
        font-weight: var(--font-display-weight-m);
        transform: translateX(calc(var(--offset) * 100px));
        clip-path: functions.corner-polygon(bottom-right, s);
    }
}

@keyframes blink {
    0%, 50% {
        visibility: visible;
    }
    51%, 100% {
        visibility: hidden;
    }
}

.cursor {
    animation: blink 1.5s infinite;
}
