* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    @include size(100%);
    scrollbar-width: none;
}

body {
    background: var(--c-background);
}
