* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

input,
button {
    border: none;
    outline: none;
    background: inherit;
    border-radius: 0;
}

html,
body,
#app {
    position: relative;
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    background: var(--c-theme-background);
}

html {
    overflow: auto;
}
