* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

input,
button {
    border: none;
    outline: none;
    background: inherit;
    border-radius: 0;
}

html,
body {
    @include size(100%);
    scrollbar-width: none;
    background: var(--c-background);
}
