@import 'global/reset';
@import 'global/fonts';
@import 'injected';

:root {

    // Text
    --font-family-monospace: 'Noto Sans Mono', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
    --font-family-sans-serif: 'Noto Sans', Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;

    --font-size-xl: 24px;

    --font-weight-s: 300;
    --font-weight-m: 600;
    --font-weight-xl: 800;

    // Colors
    --c-background-primary: #080a0d;
    --c-background-secondary: #1d1c29;

    --c-primary: #39ffd4;
    --c-primary-accent: #252633;

    // Layout
    --app-margin: clamp(100px, 15%, 250px);
}
