@keyframes open-card {
    0% {
        transform: perspective(1000px);
    }
    50% {
        transform: perspective(1000px) rotateY(90deg) scale(0.85);
        box-shadow: none;
    }
    100% {
        transform: perspective(1000px) rotateY(180deg);
        box-shadow: 0 1px 15px var(--open-color);
        border-color: var(--open-color);
    }
}

@keyframes close-card {
    0% {
        transform: perspective(1000px) rotateY(180deg);
        box-shadow: 0 1px 15px var(--open-color);
        border-color: var(--open-color);
    }
    50% {
        transform: perspective(1000px) rotateY(270deg) scale(0.85);
        box-shadow: none;
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.card {
    --spin-duration: 0.5s;

    display: grid;
    background: var(--c-background);
    border: 2px solid var(--theme-color);
    padding: 1.5em 2em;
    transition: all 0.3s;

    &[data-state='close'] {
        animation: close-card var(--spin-duration) ease-in-out forwards;
    }

    &[data-state='open'] {
        animation: open-card var(--spin-duration) ease-in-out forwards;

        .front {
            visibility: hidden;
        }

        .back {
            visibility: visible;
        }
    }
}

.front {
    display: flex;
    grid-area: 1 / 1 / 1 / 1;
    visibility: visible;
    transition: visibility 0s calc(var(--spin-duration) / 2);
}

.back {
    @include flex(column, unset, space-between);
    transform: scaleX(-1) translateZ(0);
    grid-area: 1 / 1 / 1 / 1;
    visibility: hidden;
    transition: visibility 0s calc(var(--spin-duration) / 2);

    .content {
        display: flex;
    }
}

.close {
    @include size(1.5em);
    margin-left: auto;
    margin-top: 1em;
    fill: white;
}
