.circle {
    @include flex(row, center, center);
    pointer-events: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    transform: translate3d(
            calc(var(--pos-x) * 1px - 50%),
            calc(var(--pos-y) * 1px - 50%),
            0
    );

    &.pressed {
        &:not(.focused) .outer {
            transform: scale(1.25);
        }

        &.focused .inner {
            transform: scale(1.25);
        }
    }

    &.visible .outer {
        opacity: 1;
    }

    &.focused {
        .outer {
            @include size(8px);
            background: var(--c-text);
        }

        .inner {
            transform: none;
            opacity: 1;
        }
    }

    .outer,
    .inner {
        @include size(16px);
        transition: all 0.3s;
        border: 2px solid var(--c-text);
        border-radius: 100%;
        position: absolute;
        opacity: 0;
    }

    .inner {
        transform: scale(0.5);
    }
}
