.circle {
    @include flex(row, center, center);
    pointer-events: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    transform: translate3d(
            calc(var(--pos-x) * 1px - 50%),
            calc(var(--pos-y) * 1px - 50%),
            0
    );

    &[data-pressed] {
        &:not([data-focused]) > div:first-child {
            transform: scale(1.25);
        }

        &[data-focused] > div:last-child {
            transform: scale(1.25);
        }
    }

    &[data-visible] > div {
        opacity: 1;
    }

    &[data-focused] > div {
        &:first-child {
            @include size(8px);
            background: var(--c-text);
        }

        &:last-child {
            transform: none;
            opacity: 1;
        }
    }

    > div {
        @include size(16px);
        transition: all 0.3s;
        border: 2px solid var(--c-text);
        border-radius: 100%;
        position: absolute;
        opacity: 0;

        &:last-child {
            transform: scale(0.5);
            opacity: 0;
        }
    }
}
