.link {

    &:focus .visibleHidden {
        @include size(auto);
        clip-path: inset(0 0 0 0);
    }
}

.visibleHidden {
    @include size(0);
    @include position(auto, 0, 0, auto);
    @include font(600, 1em);
    clip-path: inset(100% 0 0 0);
    position: fixed;
    color: var(--c-background);
    background: var(--c-text);
    padding: 0.35em 0.5em;
}
