.link {
    position: relative;
    overflow: visible;

    &:focus .visibleHidden {
        @include size(auto);
        clip-path: unset;
    }
}

.visibleHidden {
    @include size(0);
    @include position(150%, -2px, auto, auto);
    @include font(600, 1em);
    clip-path: inset(100% 0 0 0);
    position: absolute;
    white-space: nowrap;
    color: var(--c-background);
    background: var(--c-text);
    padding: 0.35em 0.5em;
}

@include mq-phones {
    .visibleHidden {
        display: none;
    }
}
