.link {
    font-weight: 400;
    position: relative;
    overflow: visible;

    &:focus .visibleHidden {
        visibility: visible;
        clip-path: unset;
    }
}

.visibleHidden {
    @include size(auto);
    @include position(150%, 0, auto, auto);
    @include font(600, 1em);
    clip-path: inset(100% 0 0 0);
    position: absolute;
    white-space: nowrap;
    color: var(--c-background);
    background: var(--c-text);
    padding: 0.35em 0.5em;
    visibility: hidden;
}

@include mq-phones {
    .visibleHidden {
        display: none;
    }
}
