.loadingScreen {
    @include flex(column, center, center);
    @include position(0, 0, 0, 0);
    background: var(--c-background);
    transition: opacity 0.5s 0.25s, visibility 0s 0.75s;
    position: fixed;
    color: var(--c-text);
    z-index: 500;

    .text {
        font-size: 12px;
        font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
        margin-bottom: 0.5em;
    }

    &.loaded {
        visibility: hidden;
        opacity: 0;

        .loadingBar::before {
            transition: all 0.5s;
        }
    }
}


.loadingBar {
    @include width(50vw, 5em, 10em);
    position: relative;
    border-radius: 3px;
    height: 3px;
    background: rgba(white, 0.2);

    &::before {
        @include position(0, 0, 0, 0);
        @include pseudo();
        transition: all 10s;
        border-radius: 3px;
        background: var(--c-text);
        transform-origin: left center;
        transform: scaleX(var(--progress));
    }
}
