.pageSection {
    position: relative;
    padding: 17.5vh 0 17.5vh;
    width: 100%;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 5vh;
    }
}

$divsize: 25px;
.divider {
    @include position(0, 0, auto, 0);
    @include size($divsize);
    position: absolute;
    margin: 0 auto;

    &:active .cube > div {
        --side-rotation: 45deg;
    }

    &:hover .cube > div {
        --side-distance: 1.25;

        @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
                $p: ($i / 6);
                background: hsl($p * 360, 50%, 50%);
            }
        }
    }

    .cube {
        @include position(0, 0, 0, 0);
        position: absolute;
        transition: all 0.3s;
        transform-style: preserve-3d;
        transform: perspective(250px) rotateY(var(--rot)) rotateX(var(--rot));
        --rot: calc(var(--psv) * 360deg);
        --side-distance: 0.5;
        --side-rotation: 0deg;

        > div {
            @include position(0, 0, 0, 0);
            transition: all 0.3s;
            position: absolute;
            opacity: 0.75;

            @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                    $p: ($i / 6);
                    background: rgb($p * 255, $p * 255, $p * 255);
                }
            }

            &:nth-child(1) {
                transform: rotateY(var(--side-rotation)) rotateX(90deg) translateZ(calc(#{$divsize} * var(--side-distance)));
            }

            &:nth-child(2) {
                transform: rotateY(var(--side-rotation)) rotateX(-90deg) translateZ(calc(#{$divsize} * var(--side-distance)));
            }

            &:nth-child(3) {
                transform: rotateX(var(--side-rotation)) rotateY(-90deg) translateZ(calc(#{$divsize} * var(--side-distance)));
            }

            &:nth-child(4) {
                transform: rotateX(var(--side-rotation)) rotateY(90deg) translateZ(calc(#{$divsize} * var(--side-distance)));
            }

            &:nth-child(5) {
                transform: rotateZ(var(--side-rotation)) translateZ(calc(#{$divsize} * var(--side-distance)));
            }

            &:nth-child(6) {
                transform: rotateZ(var(--side-rotation)) translateZ(calc(#{$divsize} * var(--side-distance) * -1));
            }
        }
    }
}

.header {
    @include font(400, 2em);
    position: relative;

    &:hover > p {
        transform: none;
        opacity: 1;
    }

    > p {
        @include position(0, auto, 0, -1em);
        position: absolute;
        margin: auto;
        height: 1.1em;
        transition: all 0.3s;
        transform: translateX(0.5vw);
        opacity: 0;
    }

    > h1 {
        text-transform: uppercase;
        font-size: 1em;
        display: inline-block;
        position: relative;
        padding: 0.2em 0.5em;
        opacity: var(--psv);

        &:nth-child(2) {
            background: var(--c-text);
            color: var(--c-background);
            clip-path: inset(0 calc(100% - var(--psv) * 100%) 0 0);
            border-bottom: 4px solid var(--c-text-accent);
        }

        &:last-child {
            clip-path: inset(0 0 0 calc(var(--psv) * 100%));
            background: var(--c-background);
            color: var(--c-text);
            position: absolute;
            left: 0;
        }
    }
}

.intro {
    @include font(300, 1.5em);
    opacity: var(--psv);
    margin-bottom: 1em;
    line-height: 1.5;
}

@include mq-phones {
    .backgroundHeader,
    .header > p {
        display: none;
    }
}
