.pwaInstallPrompt {
    @include position(auto, auto, 2.5vh, auto);
    @include flex(row, center);
    transition: all 0.3s, visibility 0s 0.3s;
    transform: translateY(1em);
    border-radius: 1vh;
    padding: 1em 1.25em;
    height: 4em;
    background: var(--c-background);
    position: fixed;
    z-index: 10;
    visibility: hidden;
    opacity: 0;

    .text {
        margin-right: 1em;
    }

    .addBtn,
    .closeBtn {
        background: var(--c-text);
        border-radius: 0.3em;
        height: 100%;
    }

    &.visible {
        transition: all 0.3s, visibility 0s 0s;
        transform: none;
        visibility: visible;
        opacity: 1;
    }
}

.addBtn {
    padding: 0 1em;
}

.closeBtn {
    @include flex(row, center, center);
    padding: 0 0.2em;
    margin-left: 0.5em;

    > svg {
        @include size(2em);
    }
}

@include mq-phones {
    .pwaInstallPrompt {
        @include position(auto, 0, 0, 0);
        border-radius: 0;

        > p {
            margin-right: auto;
        }
    }
}
