.spinningHeadline {
    position: relative;
}

.placeholder {
    visibility: hidden;
}

.word {
    top: 0;
    position: absolute;

    .letter {
        display: inline-block;
        white-space: pre;
        opacity: 0;

        > svg {
            @include size(1.45ch);
            margin-left: 0.45ch;
            margin-bottom: -0.15ch;
            fill: white;
        }
    }

    &.fadeOut .letter {
        @include animate('0.5s forwards') {
            from {
                opacity: 1;
            }
            to {
                transform: translateY(-85%);
                opacity: 0;
            }
        }
    }

    &.fadeIn .letter {
        @include animate('0.5s forwards') {
            from {
                transform: translateY(85%);
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }

    @media (prefers-reduced-motion) {
        &.fadeOut .letter {
            @include animate('0.5s forwards') {
                from {
                    opacity: 1;
                }
                to {
                    opacity: 0;
                }
            }
        }

        &.fadeIn .letter {
            @include animate('0.5s forwards') {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}
