.app {
    @include flex(column, center);
    position: relative;
    font-family: $font-family;
    color: var(--c-text);
    margin: auto;
    padding-top: 12.5vh;
    cursor: none;
    user-select: none;
}

.sections {
    @include width(var(--page-width), var(--page-width-min), var(--page-width-max));
    @include flex(column, center);
    position: relative;
    height: 100%;
    z-index: 1;
}
