.app {
    @include flex(column, center);
    font-family: $font-family;
    height: 100%;
    color: var(--c-text);
    margin: auto;
    padding-top: 12.5vh;
    padding-bottom: 100vh;
    cursor: none;
}
