@keyframes fade-in {
    from {
        opacity: 0;
    }
}

.dynamicBackground {
    position: fixed;
    background-size: 150%;
    background-position: 70% center;
    background-image: radial-gradient(var(--c-background-secondary), var(--c-background-primary));
    animation: fade-in var(--transition-m);

    &,
    &::after {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(to top, var(--c-background-secondary-accent) 40%, var(--c-background-secondary));
        opacity: var(--offset);
    }
}
