@use 'src/styles/functions';

$minWidth: 700px;

.projects {
    --hue: calc(180deg + var(--percentage) * 160deg);

    display: flex;
    position: relative;
    grid-gap: 100px;
    font-family: var(--font-family-sans-serif);
    width: clamp(500px, 75%, 850px);
    height: 350px;

    @media (max-width: $minWidth) {
        flex-direction: column-reverse;
        align-items: center;
        height: 75%;
    }
}

.backgroundText {
    font-family: var(--font-family-sans-serif);
    line-height: 1.3;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--c-background-secondary-accent);
    color: var(--c-background-secondary);
    transform: translateY(calc((1 - var(--visibility)) * 100%));
}

.sideBar {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-l);
    font-weight: var(--font-sans-serif-weight-s);
    line-height: var(--line-height-l);
    opacity: var(--visibility);
    flex-grow: 1;

    @media (max-width: $minWidth) {
        flex-grow: unset;

        .introduction {
            display: none;
        }
    }

    .switchButton {
        all: unset;
        cursor: pointer;
        margin-top: auto;
        margin-right: auto;
        overflow: hidden;
        background: hsl(var(--hue), var(--c-dynamic));
        color: hsl(var(--hue), var(--c-dynamic-text));
        padding: 8px 16px;
        font-size: var(--font-size-s);
        transition: all var(--transition-l);
        clip-path: functions.corner-polygon(bottom-left, s);

        &:hover {
            background: hsl(var(--hue), var(--c-dynamic-hover));
            color: hsl(var(--hue), var(--c-dynamic-text-hover));
            clip-path: functions.corner-polygon(bottom-left, m);
        }
    }
}

.cards {
    position: relative;
    opacity: var(--visibility);
    width: 225px;
    height: 350px;
    flex-shrink: 0;

    @media (max-width: $minWidth) {
        width: 65vw;
        height: 55vh;
    }

    .list {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity var(--transition-l);

        .card {
            transform: translateY(calc((1 - var(--visibility)) * 50px));
        }

        &.hidden {
            opacity: 0;
        }
    }
}
