@use 'src/styles/functions';

.projects {
    --hue: calc(180deg + var(--percentage) * 160deg);

    display: flex;
    position: relative;
    grid-gap: 100px;
    font-family: var(--font-family-sans-serif);
    width: 50vw;
    min-width: 800px;
    max-width: 1600px;
    height: 350px;
}

.backgroundText {
    font-family: var(--font-family-sans-serif);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--c-background-secondary-accent);
    color: var(--c-background-secondary);
    z-index: -1;
    transform: translateY(calc((1 - var(--visibility)) * 100%));
}

.sideBar {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-l);
    font-weight: var(--font-sans-serif-weight-s);
    line-height: var(--line-height-l);
    opacity: var(--visibility);

    .introduction {
        position: relative;
        color: var(--c-primary-text);
        text-shadow: 2px 4px 0 var(--c-primary-shadow);

        &::after {
            content: '';
            position: absolute;
            left: -15px;
            top: 0;
            width: 5px;
            height: calc(var(--visibility) * 100%);
            background: var(--c-primary-shadow);
            transition: background var(--transition-m);
        }
    }

    .switchButton {
        all: unset;
        cursor: pointer;
        margin-top: auto;
        margin-right: auto;
        overflow: hidden;
        background: hsl(var(--hue), var(--c-dynamic));
        color: hsl(var(--hue), var(--c-dynamic-text));
        padding: 8px 16px;
        font-size: var(--font-size-s);
        transition: all var(--transition-l);
        clip-path: functions.corner-polygon(bottom-left, s);

        &:hover {
            background: hsl(var(--hue), var(--c-dynamic-hover));
            color: hsl(var(--hue), var(--c-dynamic-text-hover));
            clip-path: functions.corner-polygon(bottom-left, m);
        }
    }
}

.cards {
    position: relative;
    opacity: var(--visibility);
    width: 225px;
    height: 100%;
    flex-shrink: 0;

    .list {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity var(--transition-l);

        .card {
            transform: translateY(calc((1 - var(--visibility)) * 50px));
        }

        &.hidden {
            opacity: 0;
        }
    }
}
