.footer {
    @include flex(row, center);
    transform: translateY(calc((1 - var(--psv)) * 10vh)) scale(calc(0.9 + var(--psv) * 0.1));
    opacity: var(--psv);
    width: 100%;
}

.faceWrapper {
    @include flex(row, center, center);
    @include size(8em);
    border-radius: 100%;
    background: var(--c-text);

    > img {
        @include size(calc(8em - 6px));
        border-radius: 100%;
    }
}

.text {
    @include flex(column);
    margin-left: 3em;
    margin-right: auto;

    > h1 {
        @include font(200, 2em);
        margin-top: 0;
    }

    > p {
        @include font(300, 1em);
    }
}

.links {
    margin: 1vh 0 auto 3em;

    > a {
        display: inline-block;
        margin: 0.35em;

        > svg {
            @include size(2em);
            fill: var(--c-text);
        }
    }
}

@include mq-phones {
    .footer {
        @include flex(column, center);
        text-align: center;
    }

    .text {
        margin: 1.75vh 0;
        line-height: 1.5;

        > h1 {
            margin: 0;
        }
    }

    .links {
        margin: 0 auto;
    }
}
