.header {
    @include width(var(--page-width), var(--page-width-min), var(--page-width-max));
    padding-top: 12.5vh;
    z-index: 1;

    > h1 {
        @include font(200, 6em);
        margin-bottom: 0.25em;

        @include animate('1s ease-out') {
            from {
                opacity: 0;
                transform: translateX(-2vw);
            }
            to {
                opacity: 1;
            }
        }
    }
}

.spinner {
    @include font(200, 2.5em);
}

@include mq-phones {
    .header {
        font-size: 13px;

        > h1 {
            font-size: 5em;
            margin-left: -2px;
        }
    }

    .spinner {
        font-size: 2.25em;
    }
}
