.navigation {
    @include flex(column, center, center);
    margin-top: 5vh;
    position: sticky;
    z-index: 2;
    padding: 2em 0;
    top: 0;
    width: 100%;

    &::before {
        @include position(-1px, 0, 0, 0);
        @include pseudo();
        background: var(--c-background);
        opacity: calc(var(--vis-in) * 1.1);
        clip-path: inset(0 0 calc((-1 * var(--vis-in) + 1.1) * 100%) 0);
        z-index: -1;
    }
}

.burger {
    display: none;
}

.wrapper {
    @include width(var(--page-width), var(--page-width-min), var(--page-width-max));
    position: relative;
    margin: 0 auto;

    .links {
        > a {
            @include font(400, 1.5em);
            text-shadow: font-stroke(2, black);

            &:not(:last-child) {
                margin-right: 1.5em;
            }
        }
    }

    .scrollBar {
        @include size(1px, 1.5px);
        border-radius: 1em;
        background: var(--c-text);
        position: absolute;
        bottom: 0;
        z-index: -1;
    }
}

.banner {
    position: absolute;
    margin-top: 3em;
    bottom: -10vh;

    &::after {
        @include position(auto, 0, -10px, 0);
        @include pseudo();
        @include size(6px);
        transform: rotate(45deg);
        border: 2px solid transparent;
        border-color: transparent var(--c-text) var(--c-text) transparent;
        margin: auto;
    }
}

@include mq-phones {
    .scrollHint {
        bottom: 40vh;
    }

    .navigation {
        background: transparent;
        pointer-events: none;
        position: absolute;
        height: 100vh;

        &::before {
            display: none;
        }
    }

    .wrapper {
        @include flex(column-reverse, center, flex-end);
        @include position(auto, 0, 0, 0);
        @include size(100%);
        transition: all 0.3s;
        margin: 0;
        z-index: 100;
        position: fixed;

        $height: 44px;
        $width: $height + 10px;
        $padding: 14px;
        $line-height: 2px;

        .burger {
            @include flex(column, stretch, space-between);
            @include size($width, $height);
            pointer-events: all;
            padding: $padding;

            > div {
                @include size(100%, $line-height);
                background: var(--c-text);
                transition: all 0.3s;
            }
        }

        &[data-open] {
            pointer-events: all;
            backdrop-filter: brightness(0.35);

            @supports not (backdrop-filter: brightness(0.35)) {
                background: rgba(black, 0.35);
            }

            .burger {
                $ty: math.div($height, 2) -  math.div($line-height, 2) - $padding;

                > div:nth-child(2) {
                    opacity: 0;
                    transform: scale(0);
                }

                > div:nth-child(1) {
                    transform: translateY($ty) rotate(45deg);
                }

                > div:nth-child(3) {
                    transform: translateY(-$ty) rotate(-45deg);
                }
            }

            .links > a {
                transform: none;
                opacity: 1;

                $items: 5;
                @for $i from 1 through $items {
                    &:nth-child(#{$items - $i}) {
                        transition-delay: #{math.div($i, $items) * 0.3s};
                    }
                }
            }
        }

        .links {
            @include flex(column);
            margin-top: auto;

            > a {
                @include font(200, 1.35em);
                position: relative;
                transition: transform 0.3s, opacity 0.3s, clip-path 0s 0s;
                text-align: center;
                width: 60vw;
                padding: 0.7em 0.75em;
                background: var(--c-background);
                text-shadow: none;
                margin: 0.25em 0 !important;
                transform: translateY(5vh);
                transition-delay: 0s;
                opacity: 0;

                &::before,
                &::after {
                    @include pseudo();
                    @include size(2px, 100%);
                    @include position(0, auto, 0, 0);
                    background: var(--c-text);
                    transform-origin: top center;
                    clip-path: var(--clip);
                }

                &::before {
                    @include position(0, 0, 0, auto);
                    clip-path: var(--clip);
                }
            }
        }

        .banner,
        .scrollBar {
            display: none;
        }
    }
}
