.projectCard {
    @include flex(column);
    position: relative;
    padding: 1em;
    transition: all 0.1s;
    transform: perspective(500px) rotateX(calc(var(--rotation-y) * 10deg)) rotateY(calc(var(--rotation-x) * 10deg)) scale(1.025);
    user-select: none;
    cursor: pointer;

    &:hover {
        transition: all 0.05s;
    }

    > article {
        @include font(400, 1.25em);
        line-height: 1.25em;
        margin-bottom: auto;
    }

    > svg {
        pointer-events: none;
        z-index: -1;
        transition: all 1s;
        top: 0;
        left: 0;
        position: absolute;
        fill: none;
        stroke: var(--c-text);
        stroke-width: calc(var(--page-section-visibility) * 3px);
        opacity: var(--page-section-visibility);
        shape-rendering: crispEdges;
        stroke-dasharray: 500 500;
        stroke-dashoffset: calc((1 - var(--page-section-visibility)) * 500);
    }

    > article,
    > svg,
    > .header {
        transition: all 1s;
        opacity: var(--page-section-visibility);
    }
}

.header {
    @include flex(row, center, space-between);
    margin-bottom: 0.5em;

    > svg {
        @include size(2em);
        fill: var(--c-text);
    }

    > h1 {
        @include font(600, 1.5em);
        margin: 0;
    }
}

.tags {
    margin-top: 1em;

    > span {
        font-size: 13px;
        font-family: $font-family-tags;
        text-transform: uppercase;
        display: inline-block;
        background: var(--c-text);
        color: var(--c-background);
        padding: 0.25em 0.5em;
        transition: all 1s;
        margin: 0.25em;
        opacity: calc(var(--page-section-visibility) / var(--offset));
    }
}
