.projectCard {
    padding: 1em;

    &:hover .openIndicator {
        --scale: 1;
    }
}

.description {
    @include font(400, 1.25em);
    line-height: 1.35em;
    margin-bottom: auto;
}

.border {
    @include position(0, 0, 0, 0);
    position: absolute;

    > div {
        position: absolute;
        background: var(--c-text);
        $thickness: 1.5px;

        &:nth-child(1) {
            @include size(100%, $thickness);
            transform-origin: right center;
            transform: scaleX(var(--psv));
            bottom: 0;
        }

        &:nth-child(2) {
            @include size(100%, $thickness);
            transform-origin: left center;
            transform: scaleX(var(--psv));
            top: 0;
        }

        &:nth-child(3) {
            @include size($thickness, 100%);
            transform-origin: top center;
            transform: scaleY(var(--psv));
            left: 0;
        }

        &:nth-child(4) {
            @include size($thickness, 100%);
            transform-origin: bottom center;
            transform: scaleY(var(--psv));
            right: 0;
        }
    }
}

.header {
    @include flex(row, center, space-between);
    margin-bottom: 0.5em;

    > svg {
        @include size(2em);
        fill: var(--c-text);
    }

    > h1 {
        @include font(400, 1.5em);
        margin: 0;
    }
}

.tags {
    margin-top: 1em;

    > span {
        @include font(600, 13px);
        font-family: $font-family-tags;
        text-transform: uppercase;
        display: inline-block;
        background: var(--c-text);
        color: var(--c-background);
        padding: 0.25em 0.5em;
        margin: 0.25em;
        opacity: calc(var(--psv) / var(--offset));
    }
}

.openIndicator {
    @include position(0, 0, 0, 0);
    position: absolute;
    margin: 5px;
    --scale: 0;

    $width: 1.5px;
    $height: 1vmin;

    > div {
        @include size($width, $height);
        transition: all 0.5s;
        position: absolute;
        background: var(--c-text);
        top: 0;
        right: 0;

        &:first-child {
            transform-origin: top center;
            transform: scaleY(var(--scale));
        }

        &:last-child {
            @include size($height, $width);
            transform-origin: right center;
            transform: scaleX(var(--scale));
        }
    }
}

@include mq-phones {
    .projectCard {
        transform: none !important;
        transition: none !important;
        filter: none !important;
    }
}
