.skills {
    display: grid;
    grid-gap: 2.5vw;
    grid-template-columns: 1fr 1fr 1fr;

    > div {
        transform: scale(calc(var(--vis-in) * 0.05 + 0.95));
        opacity: var(--vis-in);
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: -0.25em;
    margin-top: 1.5em;
    opacity: var(--vis-in);
    transform: translateY(calc((1 - var(--vis-in)) * 5vh));

    > span {
        margin: 0.25em;
        flex-grow: 1;
        background: var(--c-text);
        text-align: center;
        text-transform: uppercase;
        border: 2px solid var(--c-text);
        transition: all 0.3s;

        &[data-highlight] {
            background: transparent;
            border-color: var(--accent);

            > a {
                color: var(--accent);
                font-weight: 400;
            }
        }

        > a {
            @include flex(row, center, center);
            padding: 0.5em 1em;
            font-weight: 600;
            color: var(--c-background);
            transition: all 0.3s;
            width: 100%;
            transform: scale(calc(var(--vis-in) * 0.25 + 0.75));

            > p:first-child {
                position: absolute;
            }

            > p:last-child {
                visibility: hidden;
                font-weight: 600;
            }
        }
    }
}

@include mq-desktop {
    .skills {
        grid-template-columns: 1fr 1fr;
    }
}

@include mq-tablets {
    .skills {
        grid-template-columns: 1fr;
    }
}
